/* Colors */
:root {
  --red: #ff3049;
  --red-secondary: #ff3049;
  --secondary-background: #ffbba5;
  --white: #ffffff;
  --white-secondary: rgba(255 255 255 / 0.75);
}

/* P3 color space */
/* @supports (color: color(display-p3 1 1 1 / 1)) {
  :root {
    --red: color(display-p3 1 0.188 0.286);
    --red-secondary: color(display-p3 1 0.188 0.286 / 0.75);
    --white: color(display-p3 1 1 1);
    --white-secondary: color(display-p3 1 1 1 / 0.75);
  }
} */

/* Fonts */
body {
  background-color: var(--red);
  color: var(--white);
  font-family: ui-display, 'SF Pro Display', system-ui, san-serif;
}

body h1,
nav ul li {
  font-family: ui-rounded, 'SF Pro Rounded', system-ui, san-serif;
}

a {
  color: inherit;
}

/* Header */

nav ul {
  display: flex;
  gap: 1em 2em;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  max-width: 100em;
  padding: 1em;
}

nav ul li,
nav ul li a {
  display: flex;
  align-items: center;
}

nav ul li img {
  height: 2em;
  width: auto;
  margin-right: 0.4em;
}

nav ul li img.logo {
  filter: drop-shadow(0px 0px 1em rgb(255 255 255 / 0.4));
}

nav ul li img.appStoreBadge {
  height: 1.5em;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 700;
}

header {
  text-align: center;
  font-size: 5rem;
  padding-top: 2rem;
}

header h1 {
  font-size: 1em;
  margin-bottom: 1em;
  max-width: 110rem;
  margin: 0 auto 0.25em auto;
}

header h2 {
  font-size: 0.5em;
  font-weight: 400;
  max-width: 110rem;
  padding: 0 1em;
  margin: 0.5em auto 1em auto;
  color: var(--white-secondary);
  line-height: 1.25;
}

@media screen and (min-width: 600px) {
  header {
    font-size: 8.36vw;
  }
}

@media screen and (min-width: 1200px) {
  header {
    font-size: 10rem;
  }
}

:root {
  font-size: 10px;
}

body {
  font-size: 2.5rem;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 2rem;
  }
}

.centered {
  max-width: 70rem;
  margin: 1em auto;
}

main section {
  margin: 1em 0;
  padding: 1em;
}

main section p {
  color: var(--white-secondary);
}

main section.feature {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: top;
  justify-content: center;
  gap: 2em;
  padding: 0 1em;
  margin: 0;
}

section.feature:nth-child(even) {
  background: var(--secondary-background);
  color: var(--red);
  flex-direction: row-reverse;
}

section.feature:nth-child(even) div p {
  color: var(--red-secondary);
}

section.feature figure {
  max-height: 15em;
  min-height: 10em;
  min-width: 25rem;
  overflow: hidden;
  margin: 0 1em;
}

section.feature figure img {
  width: 10em;
  height: auto;
  border: 0.5em solid var(--secondary-background);
  border-radius: 1.86em;
  margin: 0 auto;
  display: block;
  /* overflow: hidden;
  position: relative; */
}

section.feature:nth-child(odd) figure {
  margin-top: 1em;
}

section.feature:nth-child(even) figure {
  margin-bottom: 1em;
}

section.feature:nth-child(even) figure img {
  border-color: var(--red);
  position: relative;
  bottom: 7em;
  /* top: 0; */
}
section.feature div {
  min-width: 10rem;
  max-width: 50rem;
}

section.feature div h3 {
  font-size: 3.6rem;
  margin: 2em 0 0.5em 0;
}

section.feature div p {
  font-size: 2.8rem;
  margin: 0 0 1em 0;
}

@media screen and (max-width: 800px) {
  main section.feature {
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
  }

  section.feature:nth-child(even) {
    flex-direction: column;
  }

  section.feature figure {
    overflow: visible;
    max-height: inherit;
    margin: 1em 1em 0 1em;
  }

  section.feature div {
    max-width: 60rem;
  }

  section.feature div h3 {
    margin-top: 0;
  }

  section.feature:nth-child(even) figure img {
    position: unset;
    bottom: 0;
  }
}

.testimonial {
  margin: 2em 1em 3em 1em;
}

.testimonial p {
  margin: 0;
}

.testimonial p.review {
  color: var(--white);
  /* padding: 0 1em; */
  position: relative;
}

.testimonial p.source {
  margin-top: 0.5em;
  padding-left: 1em;
  font-size: 0.75em;
}

.testimonial p.source strong {
  color: var(--white);
}

.testimonial p.source:before {
  content: '— ';
}

.testimonial p.review:before {
  content: '“';
  position: absolute;
  left: -0.5em;
  color: var(--white-secondary);
}
.testimonial p.review:after {
  content: '”';
  color: var(--white-secondary);
}

section#whatisit {
  background: var(--secondary-background);
  color: var(--red);
}

section#whatisit p {
  color: var(--red-secondary);
}

footer .centered {
  text-align: center;
}
