@import "reset.css";

html, body {
     height: 100%;
}

body {
  padding-bottom: 100px;
}
html {
  background-color: #8B6CE8;
  background: linear-gradient(-180deg, #8B6CE8 11%, #EC4D4E 47%);
  background-attachment: fixed;

}

body {
  font-family: 'Poppins', sans-serif;
  margin-top: 100px;
}

.appIcon {
  display: block;
  width: 250px;
  height: 250px;
  margin: 0 auto 0 auto;
  border-radius: 40px;
  box-shadow: 0 20px 27px 0 rgba(63,3,3,0.39);
}

.appStoreLink {
  display: block;
  transition: all 0.2s ease;
}

.appStoreBadge {
  transition: all 0.2s ease;
  border-radius: 5px;
}
.appStoreLink:hover {
  transform: translate(0, -5px);
}
.appStoreLink:hover .appStoreBadge {
  box-shadow: 0 20px 27px 0 rgba(63,3,3,0.39);

}
.textOkvideo, .appStoreBadge {
  display: block;
  margin: 50px auto;
}

.description {
  max-width: 600px;
  padding: 0 20px;
  margin: 100px auto;
  display: block;
  font-size: 26px;
  text-align: center;
  color: rgba(255,255,255,0.80);
  letter-spacing: 0;
  line-height: 40px;
}

section {
  padding: 0px 20px;
  max-width: 600px;
  margin: 20px auto;
}


.credits h2 {
  color: rgba(0,0,0,0.5);
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}

.credits ul {
  font-size: 20px;
  margin: 0 auto;
  display: block;
  line-height: 40px;
  margin-bottom: 50px;
}

.credits ul li {
  text-align: center;
}

.credits a {
  color: #fff;
  text-decoration: none;
}

.credits a:hover {
  text-decoration: underline;
}

.twitterIcon {
  display: block;
  margin: 0 auto;
  margin-bottom: 100px;
  transition: all 0.2s ease;
}

.twitterLink:hover .twitterIcon {
  opacity: 0.7
}

footer {
  height:100px;
  display: block;
}

.intro {
  max-width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .intro {
    flex-flow: column;
  }
}

.video-container {
  position: relative;
}

.video-container video {
  margin: 16.5px 17.5px;
}

.video-container .video-overlay {
  pointer-events: none;
  position: absolute; top: 0; width: 275px; height: 553px; background: transparent url('../img/iphone.png') no-repeat; background-size: contain;
}

.page {
  max-width: 800px;
  text-align: left;
  font-size: 16px;
  color: #fff;
}

.page h1 {
  font-weight: 700;
  font-size: 3em;
  margin-bottom: 0.5em;
}

.page strong {
  font-weight: 500;
}

.page p,
.page ul {
  margin-bottom: 0.5em;
  line-height: 1.2em;
}

.page h2,
.page h3,
.page h4 {
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.page h2 {
  font-size: 1.5em;
}

.page h3 {
  font-size: 1.2em;
}

.page h4 {
  font-size: 1em;
}

.page ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 1em;
  margin-bottom: 1em;
}

.page a {
  color: #fff;
}